<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {#<link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"/>#}
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootswatch/4.1.2/cosmo/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script> 
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script> 
    {% block extra_head %}{% endblock %}
    <title>{% block title %}PhotoWall{% endblock %}</title>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>